@charset "utf-8";
/* CSS Document */
.table{
	color:#000;
	width:90%;
	position:relative;
	left:5%;
	border: none;
	}
th{
	text-align:center;
	}
.btn-table{
	background-color: transparent;
	border:none;
}
.icon-eye{
	transition: .2s all ease-in-out;
}
.icon-eye:hover{
	color:#06F;
}
/*********/
.icon-edit{
	transition: .2s all ease-in-out;
}
.icon-edit:hover{
	color:#00FF00;
}
/************/
.icon-trash{
	transition: .2s all ease-in-out;
}
.icon-trash:hover{
	color:#F33;
}
.icon-loop{
	transition: .2s all ease-in-out;
}
.icon-loop:hover{
	color: #5109CF;
}
h2{
	font-size:48px;
	color:#F63;
}
#caja_busqueda{
	width: 40%;
	border: 1px solid rgba(0,0,0,.5);
}
.form-busqueda{
	position: relative;
	left: 3%;
}
.icon-search{
	color: #000;
}
.icon-eye-1{
	transition:  .2s all ease-in-out;
	color: #000;
}
.icon-eye-1:hover{
	color: blue;
}
tr{
	text-align:center;
}